<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Users List</h1>
    <p> Here you can manage whom to follow. </p>
    <a href="/logout">Logout!</a></br>
    <a href="/allposts/<%=user_name%>"> See all Posts!</a> </br>

    <!--This section populates the page with those users that I can 
    unfollow(because I am currently following them) -->
    <h2> List of Users:</h2>
    <div>
      <% var unsubusers = unsubscribe; %>
      <% var num = unsubscribe.length; %>
      <% for(var j = 0; j < num; j++) { %>
      <div>
          <% var id = unsubusers[j]._id; %>
          <b><%= unsubusers[j].user_name %>  </br></b>
          <form method="post" action="unsubscribe" target="new">
            <!-- Form containing a delete button -->
            <input type="hidden" name="id" value=<%=unsubusers[j]._id%>> 
            <input type="hidden" name="user_name" value=<%=user_name%>> 
            <button type="submit" name="button" value=<%=id%>>Unfollow!</button>
          </form>​​​​​​​​​​​​​​​​​​​​​​​​​​
      </div>
    <% } %>
    </div>

    <!--This section populates the page with those users that I can 
    follow(because I am not currently following them) -->
    <div>
      <% var users = subscribe; %>
      <% var num = subscribe.length; %>
      <% for(var i = 0; i < num; i++) { %>
      <div>
          <% var id = users[i]._id; %>
          <b><%= users[i].user_name %> </br></b>
          <form method="post" action="subscribe" target="new">
            <!-- Form containing a delete button -->
            <input type="hidden" name="id" value=<%=users[i]._id%>> 
            <input type="hidden" name="user_name" value=<%=user_name%>> 
            <button type="submit" name="button" value=<%=id%>>Follow!</button>
          </form>​​​​​​​​​​​​​​​​​​​​​​​​​​
      </div>
    <% } %>
    </div>

  </body>
</html>