<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Users List</h1>
    <a href="/logout">Logout!</a></br>
    <a href="/allposts/<%=user_name%>"> See all Posts!</a> </br>

    <div>
      <% var unsubusers = unsubscribe; %>
      <% var num = unsubscribe.length; %>
      <% for(var j = 0; j < num; j++) { %>
      <div>
      </br>
          <% var id = unsubusers[j]._id; %>
          <% console.log(id)%>
          <b><%= unsubusers[j].user_name %> : </br></b>
          <form method="post" action="unsubscribe" target="new">
            <!-- Form containing a delete button -->
            <input type="hidden" name="id" value=<%=unsubusers[j]._id%>> 
            <input type="hidden" name="user_name" value=<%=user_name%>> 
            <button type="submit" name="button" value=<%=id%>>Unsubscribe!</button>
          </form>​​​​​​​​​​​​​​​​​​​​​​​​​​</br>
      </div>
    <% } %>
    </div>

    <div>
      <% var users = subscribe; %>
      <% var num = subscribe.length; %>
      <% for(var i = 0; i < num; i++) { %>
      <div>
      </br>
          <% var id = users[i]._id; %>
          <b><%= users[i].user_name %> : </br></b>
          <form method="post" action="subscribe" target="new">
            <!-- Form containing a delete button -->
            <input type="hidden" name="id" value=<%=users[i]._id%>> 
            <input type="hidden" name="user_name" value=<%=user_name%>> 
            <button type="submit" name="button" value=<%=id%>>Subscribe!</button>
          </form>​​​​​​​​​​​​​​​​​​​​​​​​​​</br>
      </div>
    <% } %>
    </div>


  </body>
</html>