<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to the post feed </h1>
    <a href="/logout">Logout!</a></br>
    <p> See what's going on on Fritter OR <a href="/post_new_post">Post Something!</a> </p>

    <div>
      <% var docs = result; %>
      <% var num = result.length; %>
      <% for(var i = 0; i < num; i++) { %>
      <div>
          <% var id = docs[i]._id; %>
          <b><%= docs[i].user_name %> says, </br></b>
          <%= docs[i]._id %> </br>
          <%= docs[i].post %> </br>
          <a href="/posts/<%=id%>">Edit this post!</a> 
          <br></br>
          <br></br>
          <!--how to enable this only on this post anchor tag, embedded js -->
      </div>
    <% } %>
    </div>

  </body>
</html>