<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit your post or delete it!</h1>
    <p> </p>
      <form method="post" action="update_post" target="new">
         <!-- How to so i can check it in my method?? send this?? -->
        Post: <input type="text" name="post" value =<%=postText%> maxlength="200">
        <input type="hidden" name="id" value=<%=id%>> </br>
        <button type="submit" name="button">Update Post!</button>
      </form>​​​​​​​​​​​​​​​​​​​​​​​​​​
      <form method="post" action="delete_post" target="new">
         <!-- How to so i can check it in my method?? send this?? -->
        <input type="hidden" name="id" value=<%=id%>> 
        <button type="submit" name="button" value=<%=id%>>Delete Post!</button>
      </form>​​​​​​​​​​​​​​​​​​​​​​​​​​
    <a href="/allposts"> Go To feed!</a></br>
    <a href="/logout"> Logout!</a>
  </body>
</html>